@import "tailwindcss";

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  scrollbar-width: none;
}

.scrollbar-hide {
  scrollbar-width: none;
}

th,
td {
  border: 1px solid #adc8e4;
  
}



