@import "tailwindcss";

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  scrollbar-width: none;
}

.scrollbar-hide {
  scrollbar-width: none;
}

th,
td {
  border: 1px solid #adc8e4;
  
}


/* MOVE SCROLLBAR TO LEFT */
.scrollbar-left {
  direction: rtl;
}

.scrollbar-left > * {
  direction: ltr;
}

/* Thin scrollbar */
.scrollbar-left::-webkit-scrollbar {
  width: 6px;       /* thin */
}

.scrollbar-left::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-left::-webkit-scrollbar-thumb {
  background: #4b4b4b;
  border-radius: 10px;
}

.scrollbar-left::-webkit-scrollbar-thumb:hover {
  background: #b5b5b5;
}

.scrollbar-bottom::-webkit-scrollbar {
     
  height: 6px;    /* thin */
}

.scrollbar-bottom::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-bottom::-webkit-scrollbar-thumb {
  background: #4b4b4b;
  border-radius: 10px;
}

.scrollbar-bottom::-webkit-scrollbar-thumb:hover {
  background: #b5b5b5;
}
